<h1> This is the Registration page </h1>



<%= form_for(@user, url: "/users") do |f| %>
  Username: <%= f.text_field :username, :placeholder => "Type your username" %><br />
  <p>
  e-mail: <%= email_field("user", "email", {:placeholder => 'example@example.com'})%><br />
  <p>
  Password: <%= password_field(:user, :password, {:placeholder => 'Secret Word'}) %><br />
  <p>
  <%= f.submit %>
<% end %>

<%
=begin
%>

<%= form_with model: @user, url: { action: "create" }, class: "form-signup" do |f| %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= f.label :username %>
    <%= f.text_field :username %>
    <p>
    <%= f.label :email %>
    <input id="user_address" name="user[email]" type="email" />
    </p>
    <%= f.label :password %>
    <input type="password" id="login_pass" name="user[password]"/>
    <p>
    <%= f.submit %>
    </p>
  <% end %>

  <%= form_tag('/users') do %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= label_tag('username', "Username") %>
    <%= text_field_tag(:username) %>
    <p>
    <%= label_tag('email', "e-mail") %>
    <%= email_field_tag(:email) %>
    </p>
    <%= label_tag('password', "Password") %>
    <%= password_field_tag(:password) %>
    <p>
    <%= submit_tag("Submit") %>
    </p>
<% end %>

<form action="/users", method="post" accept-charset="UTF-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">e-mail:</label>
  <input type="text" id="email" name="user[email]"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="user[password" name="user[password]">
  </p>
  <input type="submit" value="Submit">
</form>

<%
=end
%>