<h1> This is the Registration page </h1>


<%= form_tag('/users') do %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= label_tag('username', "Username") %>
  <%= text_field_tag(:username) %>
  <p>
  <%= label_tag('email', "e-mail") %>
  <%= email_field_tag(:email) %>
  </p>
  <%= label_tag('password', "Password") %>
  <%= password_field_tag(:password) %>
  <p>
  <%= submit_tag("Submit") %>
  </p>
<% end %>

